HTMLParser==0.0.2
Jinja2==2.7.3
MarkupSafe==0.23
MultipartPostHandler==0.1.0
MySQL-python==1.2.5
PyYAML==3.11
argparse==1.2.1
beautifulsoup4==4.3.2
binaryornot==0.3.0
configparser==3.3.0r2
cookiecutter==0.7.2
cookiejar==0.0.1
distribute==0.6.24
facepy==1.0.3
gdata==2.0.18
pager==3.3
requests==2.3.0
six==1.7.3
wsgiref==0.1.2
